<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Odinn/IdeaProjects/SeleniumWebDriverJava">
        <classes>
            <class name="intermedio.ParameterByMethod">
                <methods>
                    <include name="testMethodA"/>
                    <include name="testMethodB"/>
                </methods>
            </class>
            <class name="listeners.TestRealReport">
                <methods>
                    <include name="testOne"/>
                    <include name="testTwo"/>
                    <include name="testThree"/>
                </methods>
            </class>
            <class name="reports.PdfEmail">
                <methods>
                    <include name="TestOne"/>
                    <include name="TestTwo"/>
                    <include name="testThree"/>
                </methods>
            </class>
            <class name="ejercicios.TestEmployeeDetails">
                <methods>
                    <include name="testCalculador"/>
                    <include name="testCalculador2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>